%%-*- mode: erlang -*-

{escript_name, "loader"}.
{cover_enabled, true}.
{escript_incl_apps, [ getopt, sidejob, riakc, csv, jsx, protobuffs, riak_pb ]}.
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
        {sidejob, ".*", {git, "git://github.com/basho/sidejob.git", {branch, "develop"}}},
        {riakc, "2.1.1", {git, "git://github.com/basho/riak-erlang-client", {tag, "2.1.1"}}},
        {csv, ".*", {git, "https://github.com/isakkarlsson/erlang-csv", {tag, "v1.1"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ]}.
